@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #F2F2F2; */
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
    height: 1500px;
}

.container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

/*span {
    
}*/


.carousel__face:nth-child(1) {
    background-image: url("images/batman.jpg");
    transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
    background-image: url("images/grogu.jpg");
    transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
    background-image: url("/images/minions.jpg");
    transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
    background-image: url("/images/comedy.jpg");
    transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
    background-image: url("/images/drama.jpg");
    transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
    background-image: url("/images/sf.jpg");
    transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
    background-image: url("");
    transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
    background-image: url("");
    transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
    background-image: url("images/western.jpg");
    transform: rotateY(320deg) translateZ(430px);
}



@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

.main {
    max-width: 1200px;
    margin: 120px;
    position: relative;
    top: 500px; 
    left: 40px;
    height: auto;
}

.main h1{
    color: #384548;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 0px;
    position: relative;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 30%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #318162 40%, #4aa975 100%);
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

.lorem  h3 {
    top: 1050px;
    text-align: center;
    text-indent: 30px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 2em;
    position: absolute;
    color: #384548;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto
}
