@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}

#navlist {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 8px;
    background-color: #318162;
    width: 100%;
    height: 76px;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    top: 0;
}

.navlist {
    color: #f0d069
}

a {
    color: #384548;
}




footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #384548;
    border-radius: 10px 10px 0 0;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer p {
    color: #13C567;
}

footer a {
    color: #13C567;
}

footer a:hover {
    color: #FFFFFF;
}




.flexbox {
    background: #318162;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin: 20px;
}

.search>h3 {
    font-weight: normal;
}

.search>h1,
.search>h3 {
    color: white;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}

.search>div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}

.search>div:after {
    content: "";
    background: white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
}

.search>div>input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search>div>input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
    opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 250px;
}