@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.logoCinema {
    width: 80px;
    height: 80px;
}

.linktitle:link, .linktitle:visited, .linktitle:hover, .linktitle:active {
    text-decoration: none;
    color: white;
}

#navlist {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 8px;
    background-color: black;
    width: 100%;
    height: 76px;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    top: 0;
}

.navlist {
    color: #f0d069
}

a {
    color: #384548;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #384548;
    border-radius: 10px 10px 0 0;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer p {
    color: #13C567;
}

footer a {
    color: #13C567;
}

footer a:hover {
    color: #FFFFFF;
}

.flexbox {
    background: black;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin: 20px;
}

.search>h3 {
    font-weight: normal;
}

.search>h1,
.search>h3 {
    color: white;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}

.search>div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}

.search>div:after {
    content: "";
    background: white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
}

.search>div>input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search>div>input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
    opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 250px;
}

button.searchbutton {
    background-color: #F2F2F2;
    padding: 7px;
    border-radius: 50%;
    border: none;
    transition-duration: 0.4s;
}

button.searchbutton:hover {
    background-color: #318162;
    color: white;
    border: none;
}